.synopsis {
  font-size: 12px;
  line-height: 1.45;
  color: var(--text);
  opacity: 0.85;

  display: -webkit-box;
  -webkit-line-clamp: 3; /* clamp to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
